body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:black;
    color: #333;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
}
 .description,.platform{
    border: 2px solid white;
    padding:25px 2px 55px 2px; 
    margin: 10px;

    background-color: white;
    
  } 
  .websites,.videos,.courses{
    border: 2px solid grey;
    padding: 25px 2px 60px 2px;
    margin: 10px;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color:grey;
  }
  .container-left{
    width: 50%;
    background-color:grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }
  .container-right{
    
    width: 50%;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  
  }
  .image{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:10%;
  } 
  .page1{
    width: 100vw;
    height: 100%;
    display:flex;
    list-style:none;
    padding: 0%;
    
  }
 
  