/* Reset some default styles for better consistency */
body, h1, p, ul, li, button, .notes {
    margin: 0;
    padding: 0;
}

/* Apply basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: #333;
    padding: 10px 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    margin-top: 20px;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.grid-item button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.grid-item button:hover {
    background-color: #007bff;
}

.notes {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #333;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

.grid-item.dark-mode {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.grid-item.dark-mode button {
    background-color: #007bff;
    color: #fff;
}

.grid-item.dark-mode button:hover {
    background-color: #333;
}


